<nav class="navbar bg-body-tertiary" style="background-color: black; height: 200px" >
    <div class="container-fluid">
      <span class="navbar-text text-white ">
        <div class="row">
          <div class="col col-md-2"> </div>
          <div class="col col-md-2">Autodescription <br> Relation investiseur br
          Iformation Légale</div>
          <div class="col col-md-2">
            Centre d'aide <br>
            Recrutement <br> 
            preference de coockies
          </div>
          <div class="col col-md-2">
            Cartes cadeaux <br>
            Conditions d’utilisation <br>
            Mentions légales<br>
          </div>
          <div class="col col-md-2">
            Presse<br>
            Confidentialité<br>
            Nous contacter<br>
          </div>
          <div class="col col-md-2"></div>
        </div>
      </span>
    </div>
</nav>
